<!DOCTYPE html>
<html>
  <head>
    <title>Purchase confirmation - The Pet Shop</title>
    <%- css("style") %>
  </head>
  <body>
    <h1>Purchase confirmed</h1>
    <p>Thanks for adopting <%= name %>!</p>
    <p>Please visit our shop soon to pick up your new <%= type %>.</p>
  </body>
</html>
